<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= button_to 'Logout', session_destroy_url, method: :delete %>
<% else %>
  <%= button_to 'Login', new_session_url, method: :get %>
  <%= button_to 'Create Account', new_user_url, method: :get %>
<% end %>

<p><%= flash.notice %></p>

<%= yield %>

</body>
</html>
